/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
	height:43px; 			/*  height:41px;background:url(images/main-bg.png) repeat-x;*/	
	background:url(images/menubgbot.gif);					
}

div#menu ul {
    margin: 0;				/*	margin: 0; */
    padding: 0;				/*	padding: 0; */
    list-style: none;		/*	list-style: none; */
    float: left;			/*	float: left; */
}
div#menu ul.menu {
    padding-left: 72px;		/*	padding-left: 30px; */
}

div#menu li {
    position: relative;		/*	position: relative; */
    z-index: 9;				/* 	z-index: 9; */
    margin: 0;				/*  margin: 0; */
    padding: 0px 34px 0 0;	/*  padding: 0 5px 0 0; */
    display: block;			/*	display: block; */
    float: left;			/*	float: left; */
}
div#menu li:hover>ul {
    left: -2px;				/*	left: -2px;	*/
}

div#menu a {
    position: relative;		/*	position: relative;	*/
    z-index: 10;			/*	z-index: 10;	*/
    height: 41px;			/*	height: 41px;	*/
    display: block;			/*	display: block;	*/
    float: left;			/*	float: left;  	*/
    line-height: 41px;		/*	line-height: 41px;	*/
    text-decoration: none;	/*	text-decoration: none;	*/
    font: bold 13px Trebuchet MS,Arial,san-serif ;		/*	font: normal 12px Trebuchet MS;	*/
 	text-align: center;
 	white-space: nowrap;
    width: auto;
    padding-right: 5px;
}
div#menu a:hover, div#menu a:hover span
{ 
	color: #fff; 	/*	color: #fff;	*/
}
div#menu li.current a {}
div#menu li.current ul a,
div#menu li.current ul a span {
    background:none;
}
div#menu ul ul a:hover {
    background: url(images/submenu-selected-bottom.png) no-repeat 5px bottom;
}
div#menu ul ul a:hover span {
    background: url(images/submenu-selected-top.png) no-repeat 10px 0 0 10px left;
}

div#menu ul ul a.parent:hover span {
    background: url(images/submenu-selected-top.png) no-repeat 10px;
}
div#menu ul ul span {
    margin-top: 0;
    text-align: center;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}
div#menu span {
    display: block;		/*	display: block;	*/
    cursor: pointer;	/*	cursor: pointer;	*/
    background-repeat: no-repeat;	/*	background-repeat: no-repeat;	*/
    background-position: 95% 0;	/*	background-position: 95% 0;		*/
}
div#menu ul ul a.parent span {
    background-position:95% 8px;	/*	 background-position:95% 8px;	*/
    background-image: url(images/item-pointer.gif);		/*	background-image: url(images/item-pointer.gif);	*/
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);	/*	background-image: url(images/item-pointer-mover.gif);	*/
}


/* menu::level1 */
div#menu a {
    padding: 0 0 0 25px;		/*	padding: 0 10px 0 10px;	*/
    line-height: 32px;			/*	line-height: 30px;	*/
    color: #fff;				/*	color: #e5e5e5; 	*/
}
div#menu span {
    margin-top: 4px;			/*	margin-top: 5px; 	*/
}/**@replace#1*/

/* 	div#menu li { background: url(images/main-delimiter.png) 98% 4px no-repeat; }	*/
div#menu li.last { background: none;	/*	background: none;	*/}

/* menu::level2 */
div#menu ul ul li { background: none;	/*	background: none;	*/ }
div#menu ul ul li {
    z-index: 9;
}
div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 11;
    visibility: hidden;
    width: 187px;
    padding: 0 0 11px 7px;
    background: url(images/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(images/submenu-bottom.gif);
    margin: 0px 0 0 -4px;
}
div#menu ul ul {
    position: absolute;		/*	position: absolute;	*/
    top: 38px;				/*	top: 38px;	*/
    left: -999em;			/*	left: -999em;	*/
    width: 180px;			/*	width: 163px;	*/
    padding: 5px 0 0 0;		/*	padding: 5px 0 0 0;	*/
    background: #EBEBEB;	/*	background: rgb(45,45,45);	*/
    margin-top:10px;		/*	margin-top:1px;	*/
}
div#menu ul ul a {
    padding: 0 0 0 15px;	/*	padding: 0 0 0 15px;	*/
    height: auto;			/*	height: auto;	*/	
    float: none;			/*	float: none;	*/
    display: block;			/*	display: block;	*/
    line-height: 23px;		/*	line-height: 24px;	*/
    color: #fff;			/*	color: rgb(169,169,169);	*/
}
div#menu ul ul span {
    margin-top: 0;			/*	margin-top: 0;	*/
    padding-right: 15px;	/*	padding-right: 15px;	*/
    _padding-right: 20px;	/*	_padding-right: 20px;	*/
    color: #656565;			/*	color: rgb(169,169,169);	*/
}
div#menu ul ul a:hover span {
    color: #656565;			/*	color: #fff;	*/
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;			/*	width: 100%;	*/
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;				/*	padding: 0;	*/
    margin: -38px 0 0 163px !important;			/*	margin: -38px 0 0 163px !important;	*/
    margin-left:172px;		/*	margin-left:172px;	*/
}
/* menu::level3 */
div#menu ul ul div {
    width: 180px;
    padding: 15px 0px 8px 0px;
    margin: -44px 0 0 169px !important;
    background: url(images/subsubmenu-top.png) no-repeat 0px 0;
    _background-image: url(images/subsubmenu-top.gif);
}
*+html div#menu ul ul div { height:10px }
*+html div#menu.ie7 ul ul div { height:auto }
div#menu ul ul ul {
    padding: 0 4px 5px 1px;
    background: url(images/submenu-bottom.png) no-repeat 0px bottom;
    _background-image: url(images/submenu-bottom.gif);
}
div#menu ul ul div li {
    position:relative;
    top:-5px;
}

/* colors */
div#menu ul ul ul { background: #fff; 	/*	 background: rgb(41,41,41);	*/}
div#menu ul ul ul ul { background: rgb(38,38,38); 	/*	background: rgb(38,38,38);	*/}
div#menu ul ul ul ul { background: rgb(35,35,35); 	/*	rgb(35,35,35);	*/}

/* lava lamp */
div#menu li.back {
    background: url(images/lavalamp-left.png) no-repeat 0 0;
    _background-image: url(images/lavalamp-left.gif);
   	height: 43px;
    z-index: 8;
    position: absolute;
    padding: 0 0 0 0;
    margin: 0;
    
    
}

div#menu li.back .left {
    padding:0px;
    width:auto;
    background: url(images/lavalamp-right.png) no-repeat right 0;
    _background-image: url(images/lavalamp-right.gif);
    height: 43px;
    margin: 0 5px 0 10px;
    _margin-right: 2px;
    float: none;
    position: relative;
    visibility: visible;
}

